<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Zabieg</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <base href="/">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/sidebarStyle.css">
</head>
<body>

<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="custom-menu">
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
                <i class="fa fa-bars"></i>
                <span class="sr-only" >Toggle Menu</span>
            </button>
        </div>
        <h1><a href="index.html" class="logo"></a></h1>
        <ul class="list-unstyled components mb-5">
            <li>
                <a th:href="@{/fizjoterapeuta/dashboard}"><span class="fa fa-home mr-3"></span>Dashboard</a>
            </li>
            <li>
                <a th:href="@{/fizjoterapeuta/konto}"><span class="fa fa-user mr-3"></span>Moje konto</a>
            </li>
            <li>
                <a th:href="@{/fizjoterapeuta/wizyty}"><span class="fa fa-user mr-3"></span>Moje wizyty</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a th:href="@{/fizjoterapeuta/logout}"><span class="fa fa-sign-out"></span>&nbsp;&nbsp;Wyloguj</a>
            </li>
        </ul>

    </nav>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5 pt-5">
        <div align="center">
            <h1>Szczegóły zabiegu</h1>
            <br />

                <table border="0" cellpadding="10">
                    <tr>
                        <td>ID:</td>
                        <td>
                            <input type="text" th:field="*{zabieg.id}" readonly="readonly" />
                        </td>
                    </tr>
                    <tr>
                        <td>Nazwa:</td>
                        <td>
                            <input type="text" th:field="*{zabieg.name}" readonly="readonly"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Imie pacjenta:</td>
                        <td>
                            <input type="text" th:field="*{zabieg.pacjent.firstName}" readonly="readonly"/>
                        </td>
                    </tr>
                    <tr>
                        <td>Nazwisko Pacjenta:</td>
                        <td>
                            <input type="text" th:field="*{zabieg.pacjent.lastName}" readonly="readonly"/>
                        </td>
                    </tr>

                </table>
            </form>
            <form action="#" th:action="@{/FizjoterapeutaZabiegUsun}" th:object="${zabieg}" method="post">
                <input type="hidden" name="id" th:value="${id}">
                <button type="submit">Odwołaj zabieg</button>
            </form>
            <a th:href="@{/fizjoterapeuta/wizyty}">Powrót</a>
        </div>
    </div>
</div>

<script src="js/sidebar/jquery.min.js"></script>
<script src="js/sidebar/popper.js"></script>
<script src="js/sidebar/bootstrap.min.js"></script>
<script src="js/sidebar/main.js"></script>
</body>
</html>