<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Edytuj konto</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <base href="/">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/sidebarStyle.css">
</head>
<body>

<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar">
        <div class="custom-menu">
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
                <i class="fa fa-bars"></i>
                <span class="sr-only" >Toggle Menu</span>
            </button>
        </div>
        <h1><a href="index.html" class="logo"></a></h1>
        <ul class="list-unstyled components mb-5">
            <li>
                <a th:href="@{/pacjent/dashboard}"><span class="fa fa-home mr-3"></span>Dashboard</a>
            </li>
            <li>
                <a th:href="@{/pacjent/konto}"><span class="fa fa-user mr-3"></span>Moje konto</a>
            </li>
            <li>
                <a th:href="@{/pacjent/wyszukaj}"><span class="fa fa-search"></span>&nbsp;&nbsp;Znajdz fizjoterapeute</a>
            </li>
            <li>
                <a th:href="@{/pacjent/wizyty}"><span class="fa fa-search"></span>&nbsp;&nbsp;Moje wizyty</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a th:href="@{/pacjent/logout}"><span class="fa fa-sign-out"></span>&nbsp;&nbsp;Wyloguj</a>
            </li>
        </ul>

    </nav>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5 pt-5">
        <div align="center">
            <h1>Edytuj dane konta</h1>
            <br />
            <form action="#" th:action="@{/PacjentEdytuj}" th:object="${pacjent}"
                  method="post">

                <table border="0" cellpadding="10">
                    <tr>
                        <td>ID:</td>
                        <td>
                            <input type="text" th:field="*{id}" readonly="readonly" />
                        </td>
                    </tr>
                    <!--            <tr>-->
                    <!--                <td>Email:</td>-->
                    <!--                <td>-->
                    <!--                    <input type="text" th:field="*{email}" />-->
                    <!--                </td>-->
                    <!--            </tr>-->
                    <tr>
                        <td>Imię:</td>
                        <td>
                            <input type="text" th:field="*{firstName}" />
                        </td>
                    </tr>
                    <tr>
                        <td>Nazwisko:</td>
                        <td><input type="text" th:field="*{lastName}" /></td>
                    </tr>
                    <!--            <tr>-->
                    <!--                <td>Hasło:</td>-->
                    <!--                <td>-->
                    <!--                    <input type="text" th:field="*{password}" />-->
                    <!--                </td>-->
                    <!--            </tr>-->
                    <tr>
                        <td colspan="2"><button type="submit">Zapisz zmiany</button> </td>
                    </tr>
                </table>
            </form>
            <a th:href="@{/pacjent/konto}">Powrót</a>
        </div>
    </div>
</div>

<script src="js/sidebar/jquery.min.js"></script>
<script src="js/sidebar/popper.js"></script>
<script src="js/sidebar/bootstrap.min.js"></script>
<script src="js/sidebar/main.js"></script>
</body>
</html>